.button {
    box-shadow: 3px 3px 4px #000;
    background-color: #191717;
    border: 2px solid #2f2728;
    font-family: Tahoma, sans-serif;
    color: #CFE7F8;
    margin: 1px;
    border-radius: 3px;
    padding: 2px 5px;
}
.button:active {
    background-color: #1f2027;
    border: 2px solid #1c1d24;
    box-shadow: 1px 1px 2px #000;
    transform: translate(1px, 2px);
}
input[type=file] {
    color: #CFE7F8;
    font-family: Tahoma, sans-serif;
    padding: 1px;
    border: 2px solid #2f3037;
    border-radius: 5px;
}
input[type=file]::file-selector-button {
    box-shadow: 3px 3px 4px #000;
    background-color: #191717;
    border: 2px solid #2f2728;
    font-family: Tahoma, sans-serif;
    color: #CFE7F8;
    margin: 1px;
    border-radius: 3px;
    padding: 2px 5px;
}
input[type=file]::file-selector-button:active {
    background-color: #1f2027;
    box-shadow: 1px 1px 2px #000;
    transform: translate(1px, 2px);
    border: 2px solid #1c1d24;
}
p {
    font-family: Tahoma, sans-serif;
    color: #CFE7F8;
}
body {
    background: #13141B;
}
.logo {
    position: absolute;
    right: 15px;
    top: 10px;
}
.dropdown {
    color: #CFE7F8;
    font-family: Tahoma, sans-serif;
    background-color: #33343b;
    border: 2px solid #2f3037;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 1px 5px 1px 1px;
    box-shadow: 3px 3px 4px #000;
}
.text {
    color: #CFE7F8;
}